@import "bootstrap-sprockets";
@import "bootstrap";

.profile_pic {
  margin-right: 5px;
  width: 25%;
  border-radius: 50%;
  display:inline;
}
.newPhoto{
  margin: 20px 0;
}
.timelineItem{
  background-color: #EEEEEE;
  padding: 16px;
}
.timelineSidebar{
  background-color: #fff;
  margin-bottom: 5px;
}
.timelineSidebar img{
  margin-right: 5px;
}
.timelineCenter{
  background-color: #fff;

}
.timelineContent{
  border-bottom: 1px solid #e6e6e6;
  padding: 12px;
}
.timelineTag{
  border-bottom: 1px solid #e6e6e6;
  padding: 12px;
}
.timelineLikes{
  border-bottom: 1px solid #e6e6e6;
  padding: 6px 12px;
}
.timelineComments{
  padding: 6px 12px;
}